/* [class*="col"] {
  background-color: pink;
  border: 1px solid red;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
h2 {
  color: #525658;
}
p {
  color: #686868;
}
header {
  padding: 20px 10px 0px 10px;
  border-bottom: 1px solid #525658;
}
header ul {
  padding: 15px 0 1px 0;
}
header ul li {
  display: inline-block;
  padding-right: 10px;
}
header ul li:last-child a {
  color: #3367d6;
}
header ul li:last-child:after {
  display: block;
  content: "";
  height: 2px;
  background-color: #3367d6;
  width: 100%;
  margin: 10px auto 0px auto;
}
header ul li a {
  text-decoration: none;
  color: #525658;
}

main {
  width: 70%;
  margin: 0 auto;
  padding: 50px 0;
}
main h2,p {
  padding-bottom: 20px;
}
main p br {
  margin-bottom: 20px;
}
